@import "@/app/common/styles/var.scss";

.random-movie {
  position: relative;
  height: 680px;
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;

  &__info {
    position: absolute;
    left: 80px;
    bottom: 122px;
    width: 600px;
  }

  &__top-panel {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__title {
    @include h1;
  }

  &__btn-container {
    display: flex;
    gap: 16px;
  }
}