$btn-primary-color: #393B3C;
$btn-secondary-color: #747474;
$btn-default-color: #FFFFFF;

$menu-active-color: #DC5DFC;

$text-primary-color: #FFFFFF;
$text-default-color: #000000;
$text-secondary-color: rgba(255, 255, 255, 0.7);

$shadow-color: rgba(255, 255, 255, 0.33);

$background-primary-color: rgba(10, 11, 11, 1);
$background-secondary-color: rgba(57, 59, 60, 1);

@mixin h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

@mixin h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}