$btn-primary-color: #393b3c;
$btn-secondary-color: #747474;
$btn-default-color: #ffffff;

$background-active: #6a5dc2;
$background-disabled: #d6d2f1;
$background-hovered: #8577e1;
$background-secondary: #393b3c;
$background-black: #0a0b0b;

$menu-active-color: #dc5dfc;
$menu-hover-color: #b4a9ff;

$text-primary-color: #ffffff;
$text-default-color: #000000;
$text-secondary-color: rgba(255, 255, 255, 0.7);



$shadow-color: rgba(255, 255, 255, 0.33);

$background-primary-color: rgba(10, 11, 11, 1);
$background-secondary-color: rgba(57, 59, 60, 1);
$background: linear-gradient(
    rgba(39, 135, 245, 0.18),
    rgba(163, 147, 245, 0.18)
  ),
  linear-gradient(rgba(0, 0, 0, 1), rgba(39, 36, 36, 0.7));

$rating-top: #a59400;
$rating-good: #308e21;
$rating-common: #777777;
$rating-bad: #c82020;

$white: #ffffff;
$white-25: rgba(255, 255, 255, 0.25);
$white-50: rgba(255, 255, 255, 0.5);
$white-70: rgba(255, 255, 255, 0.7);

$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);

$card-shadow: 0 0 80px rgba(255, 255, 255, 0.33);

$transition: 0.2s ease-in-out;

$app-max-width: 1440px;

$input-border-radius: 8px;
$input-border-color: $black-40;
$input-placeholder-color: $black-40;

@mixin h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

@mixin h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin body14reg {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

@mixin body18reg {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

@mixin body24reg {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

@mixin body24bold {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
