$btn-primary-color: #393B3C;
$btn-secondary-color: #747474;
$btn-default-color: #FFFFFF;

$background-active: #6A5DC2;
$background-disabled: #D6D2F1;
$background-hovered: #8577E1;

$menu-active-color: #DC5DFC;

$text-primary-color: #FFFFFF;
$text-default-color: #000000;
$text-secondary-color: rgba(255, 255, 255, 0.7);

$shadow-color: rgba(255, 255, 255, 0.33);

$background-primary-color: rgba(10, 11, 11, 1);
$background-secondary-color: rgba(57, 59, 60, 1);

$rating-top: #A59400;
$rating-good: #308E21;
$rating-common: #777777;
$rating-bad: #C82020;

$white-25: rgba(255, 255, 255, 0.25);

$transition: .2s ease-in-out;


@mixin h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

@mixin h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
}

@mixin body18reg {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

@mixin body24reg {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}