.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  & .container {
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 40% 10%;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
  }
}