@import "@/app/common/styles/var.scss";

.movie-card {
  position: relative;
  width: auto;
  height: 336px;
  border: 1px solid $white-25;
  border-radius: 25px;
  background-size: cover;

  &__position {
    position: absolute;
    top: -12px;
    left: -12px;
    padding: 8px 24px;
    @include body24reg;
    color: $background-active;
    background-color: $white;
    border-radius: 50px;

  }
}