@import "@/app/common/styles/var.scss";

.banner-movie {
  position: relative;
  height: 680px;
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;

  &__info {
    position: absolute;
    left: 80px;
    bottom: 122px;
    width: 600px;
  }

  &__top-panel {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    &>span {
      @include body18reg;
      color: $text-secondary-color;
    }
  }

  &__title {
    @include h1;
    margin-bottom: 16px;
  }

  &__plot {
    margin-bottom: 60px;
    color: $text-secondary-color;
  }

  &__btn-container {
    display: flex;
    gap: 16px;
  }
}