@import "@/app/common/styles/var.scss";

.banner-movie {
  position: relative;
  height: 680px;

  &__info {
    position: absolute;
    z-index: 2;
    left: 80px;
    top: 200px;
    max-width: 60%;
  }

  &__top-panel {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    & > span {
      @include body18reg;
      color: $text-secondary-color;
    }
  }

  &__title {
    @include h1;
    margin-bottom: 16px;
  }

  &__plot {
    margin-bottom: 60px;
    color: $text-secondary-color;
  }

  &__btn-container {
    display: flex;
    gap: 16px;
  }
}

.banner-movie__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  background-size: cover;
}

.banner-movie__btn-container .btn:first-child {
  background-color: $background-active;
}
