@import "./app/common/styles/var.scss";

body {
  margin: 0;
  background-color: $background-primary-color;
  color: $text-primary-color;
  font-family: Play;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}