@import "@/app/common/styles/var.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-primary-color;
  color: $text-primary-color;
  font-family: Play;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  padding: 0 80px;
  width: 100%;
}