@import "@/app/common/styles/var.scss";

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  font-weight: 700;


  &.l-size {
    padding: 4px 12px 4px 12px;
    font-size: 18px;
    line-height: 24px;
  }

  &.s-size {
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    line-height: 16px;
  }

  &.bad {
    background-color: $rating-bad;
  }

  &.common {
    background-color: $rating-common;
  }

  &.good {
    background-color: $rating-good;
  }

  &.top {
    background-color: $rating-top;
  }
}