@import "@/app/common/styles/var.scss";

.btn {
  border-radius: 28px;
  white-space: nowrap;
  font-weight: 700;
  transition: background-color $transition;
  cursor: pointer;

  &.l-size {
    padding: 16px 48px 16px 48px;
    font-size: 18px;
    line-height: 24px;
  }

  &.default-style {
    color: $text-default-color;
    background-color: $btn-default-color;
  }
  &.primary-style {
    color: $text-primary-color;
    background-color: $btn-primary-color;
    &:hover {
      background-color: $background-hovered;
    }
  }
  &.secondary-style {
    color: $text-secondary-color;
    background-color: $btn-secondary-color;
  }

  &:hover {
    background-color: $background-hovered;
  }
}