@import "@/app/common/styles/var.scss";

.input-with-icon {
  display: flex;
  align-items: end;
  padding: 16px;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-placeholder-color;
  

  &.wrong {
    color: $wrong;
    border-color: $wrong;
  }

  svg {
    height: 24px;
    width: 24px;
    margin-right: 14px;
  }

  input {
    height: 22px;
    width: 100%;
    border: none;
    @include body18reg;
    cursor: pointer;
    &::placeholder {
      color: $input-placeholder-color;
      @include body18reg;
      line-height: 1;
    }
  }
}
