@import "@/app/common/styles/var.scss";

.footer {
  display: flex;
  
  & .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
